@font-face {
  font-family: 'Gilroy-Regular';
  src: url('Gilroy-Regular.ttf') format('truetype'),
       url('Gilroy-Regular.woff') format('woff'),
       url('Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

